/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  html {
    scroll-behavior: smooth;
  }
  
  body {
    font-family: 'Segoe UI', sans-serif;
    line-height: 1.6;
    background-color: #f9f9f9;
    color: #333;
    padding: 20px; /* Padding untuk body */
    margin: 0 ;  /* Menghapus margin default */
    padding-right: 15%; /* Memberikan ruang untuk sidebar */
  }
  section {
    scroll-margin-top: 160px; /* Sesuaikan dengan tinggi header kamu */
  }
  .shop-link {
  display: inline-block;
  margin-top: 10px;
}

.shop-logo {
  width: 100%;
  max-width: 100px;
}

  header {
    
    width: 100%;  /* Memastikan header penuh */
    position: sticky;
    top: 0;
    background-color: #333;
    color: white;
    padding: 10px 20px;
    text-align: center;
    z-index: 100;
  }
  
  
  .about, .projects, .contact {
    margin: 40px 0;
  }
  
  h2 {
    margin-bottom: 10px;
    color: #0077cc;
  }
  h2.subjudul {
    font-size: 1em;
    color: gray;
  }
  h3.subjudul {
    font-size: 0.8em;
    color: gray;
  }
  .project-card {
    background-color: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    margin-bottom: 15px;
    flex-wrap: wrap; /* biar tetap responsif di layar kecil */
    display: flex;
    justify-content: space-between;
    border-right: 5px solid #ddd;
    border-bottom: 5px solid #ddd;
    gap: 30px;
  }

  .project-card-normal {
    background-color: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    margin-bottom: 15px;
    flex-wrap: wrap; /* biar tetap responsif di layar kecil */
    border-right: 5px solid #ddd;
    border-bottom: 5px solid #ddd;
    gap: 30px;
  }
  a {
    color: #0077cc;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
    width: 100%;  /* Membuat footer penuh */
    position: relative;
    clear: both; /* Menghindari masalah layout dengan sidebar */
    bottom: 0;
  }
  
  
  .project-img {
    width: 100px;
    border-radius: 10px;
  }



  .sticky-header {
    
    position: sticky;
    width: 100%;
    top: 0;
    background-color: #282c34; /* Menggunakan background-color yang baru */
    color: white; /* Teks berwarna putih */
    padding: 40px 0; /* Padding atas dan bawah */
    text-align: center; /* Teks terpusat */
    z-index: 999; /* Agar header tetap di atas konten lainnya */
    
  }  
  .hamburger {
    font-size: 30px;
    color: white;
    cursor: pointer;
    position: absolute;    /* Agar posisinya relatif terhadap .sticky-header */
    top: 50%;              /* Posisikan vertikal di tengah */
    left: 20px;           /* Jarak dari kanan */
    transform: translateY(-50%); /* Biar bener-bener tengah */
    z-index: 1000;         /* Pastikan muncul di atas elemen lain */
  }
  
  .side-nav {
    z-index: 1000; /* Agar header tetap di atas konten lainnya */
    position: fixed;
    top: 0;
    right: -200px; /* Sidebar berada di luar layar */
    width: 200px;
    height: 100%;
    background-color: #333;
    padding-top: 20px;
    transition: right 0.3s ease; /* Animasi untuk menggeser sidebar */
  }
  
  .side-nav ul {
    list-style-type: none;
    padding: 0;
  }
  
  .side-nav li {
    margin: 20px 0;
  }
  
  .side-nav a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 10px;
    display: block;
  }
  
  .side-nav a:hover {
    background-color: #575757;
    color: #0077cc;
  }
  
  .side-nav.active {
    right: 0; /* Sidebar muncul di layar */
  }
  .side-nav a.active {
    background-color: #0077cc;
    color: white;
  }
  
.isi {
  flex: 1;
  min-width: 300px; /* Minimum width untuk isi */
}
.project-main {
  flex: 1;
  min-width: 300px;
}

.feature-side {
  flex: 1;
  min-width: 250px;
  background-color: #ffffff;
  padding: 15px;
  border-left: 2px solid #ddd;
}

.project-img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

.toggle-btn {
  background-color: #575757;
  color: white;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  margin-top: 10px;
  border-radius: 5px;
}

.toggle-btn:hover {
  background-color: #444;
}




.main-content {
  padding-left: 20px;
  padding-top: 20px;
}
.right-sidebar {
  position: fixed;
  top: 0;
  right: 0;
  width: 10%;
  height: 100%;
  background-color: #fafafa;
  padding: 20px;
  border-left: 5px solid #ddd;
  border-bottom: 5px solid #ddd;
  font-size: 15px;
  border-radius: 5%;
  
  overflow-y: auto;
  
}


.right-sidebar h2 {
  font-size: 1.2em;
  margin-bottom: 10px;
}

.right-sidebar ul {
  padding-left: 20px;
  
  margin: 0;
}

.right-sidebar li {
  margin: 8px 0;
  font-size: 0.95em;
}
.project-card ul {
  padding-left: 20px;
}
.toggle-btn-rightbar {
  display: none; /* Menyembunyikan tombol */
}

@media (min-width: 769px) {
  .right-sidebar {
  position: absolute ;
  top: 30%;
  bottom: auto;
  right: 0;
  width: 18%;
  height: 100%;
  
}

.WhatsappLogo {
  width: 100px;
  height: auto;
  position: fixed;
  bottom: 150px;
  right: 100px;
  z-index: 1000;
  cursor: pointer;
  animation: pulse 1.5s infinite;
  transition: transform 0.2s ease;

}

.WhatsappLogo:active {
  transform: scale(0.9);
}

/* Animasi pulse */
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

body{
  padding-right: 0%; /* Memberikan ruang untuk sidebar */
}
.body2{
  padding-right: 20% !important;
}

}
@media (max-width: 768px) {
  .project-card {
    flex-direction: column;
  }
  body {
    padding: 20px; /* Padding untuk body */
    margin: 0 ;  /* Menghapus margin default */    
  }
  #rightSidebar {
    position: fixed;
    top: 0;
    right: -250px; /* Sidebar disembunyikan di luar layar */
    width: 250px;
    height: 100%;
    background-color: #333;
    color: white;
    overflow-y: auto;
    transition: right 0.4s cubic-bezier(0.25, 0.8, 0.25, 1); /* Transisi dari kanan */
    box-shadow: -4px 0 12px rgba(0, 0, 0, 0.3); /* Efek bayangan */
    z-index: 9999;
    margin: 0 10px; /* Margin tetap */
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
  }
  
.WhatsappLogo {
  width: 80px;
  height: auto;
  position: fixed;
  bottom: 100px;
  left: 20px;
  z-index: 1000;
  cursor: pointer;
  animation: pulse 1.5s infinite;
  transition: transform 0.2s ease;
  
}

.WhatsappLogo:active {
  transform: scale(0.9);
}

/* Animasi pulse */
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
  #rightSidebar.fullscreen {
    right: 0; /* Tampilkan sidebar */
  }
  .toggle-btn-rightbar {
    display: block;
    position: fixed;
    top: 50%;
    right: 0;
      transform: translateY(-50%) rotate(180deg);
    z-index: 10001;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
    transition: transform 0.2s ease, right 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
  }
  
  .toggle-btn-rightbar.fullscreen {
    transform: translateY(-50%) translateX(-780%); /* Geser ke kiri saat sidebar terbuka */
  }
  

  section {
    scroll-margin-top: 220px; /* Sesuaikan dengan tinggi header kamu */
  }
  .feature-side {
    border-left: none;
    border-top: 2px solid #ddd;
  }
  .isi {
    flex: 0;
    min-width: 120px; /* Minimum width untuk isi */
  }
.main-content {
  padding-left: 20px;
  padding-top: 20px;
  padding-right: 10px;
}
.right-sidebar {
  position: fixed;
  top: 0%; /* Agar tidak tertutup header */
  right: 0;
  height: 0%;
  background-color: #fafafa; /* Soft white */
  padding: 0%;
  border-left: 1px solid #ccc;
  box-shadow: -10px 0 5px rgba(0,0,0,0.1);
  font-size: 15px;
  
}

/* Optional, jika header dan konten utama menggunakan wrapper */

.right-sidebar h2 {
  font-size: 1.2em;
  margin-bottom: 10px;
}

.right-sidebar ul {
  padding-left: 20px;
  
  margin: 0;
}
.sticky-header{
  font-size: 14px;
  
}  
.sticky-header .spasi{
  
  padding-top: 50px;
}  
}